.progress-bar-container {
    width: 200px;
    /* Adjust width as needed */
    height: 20px;
    background-color: #d11515;
    /* Background color for the empty part */
    border-radius: 5px;
    padding: 0;
    margin: 0 auto;
}

.progress-bar-fill {
    height: 100%;
    background-color: #4CAF50;
    /* Color for the filled part */
    width: 50%;
    /* Set to 50% for 50% filled */
}

.control {
    position: absolute;
    /* background-color: bisque; */
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.animal {
    position: relative;
    margin: 0 auto;
    align-items: center;
    width: 250px;
    /* height: 100px; */
    /* background-color: bisque; */
}

.animalImage {
    margin: 0 auto;
    align-items: center;
    width: inherit;
    /* height: 300px; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}